#nav_logo{
    width: 50%;
    padding: 10px 0 0 10px;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: rgb(39,39,39,0.4);*/
}

.nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: #6fb3b8;
    justify-content: space-between;
    padding: 0.1rem 2.5rem;
    align-items: center;
    box-shadow: 02px 2px 4px rgba(0, 0, 0, .2), 02px 4px 4px rgba(0, 0, 0, .2);
    z-index: 100 /*ensure the nav bar top position*/;
}

.nav-menu-icon {
    padding-top: 4px;
    padding-right: 2px;
}

.nav-menu ul{
    display: flex;
    margin: 0;
    padding-right: 22px;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: black;

    margin: 15px 10px;
    display: flex;
}
.link:hover,.active{
    border-bottom: 2px solid #6d4b4b;
}
.nav-button .button{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgb(255, 255, 255, 0.7);
    border: none;
    border-radius: 30px;
}
.nav-menu-button{
    display: none;
}
/* Dropdown menu */
.dropdown {
    position: relative;
    float: left;

}

.dropdown-toggle {
    display: none;
}

.dropdown-options {
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: -30px;
    float: left;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: none;
    text-align: left;
    width: 156px;

}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

.dropdown-toggle:checked + .dropdown-options + .dropdown-content {
    display: block;
}



/* search section */

#form {
    margin-bottom: 0;
}
#search {
    max-width: 100vw;
    width:100%;
    background-size:cover;
    background-position:center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 140px 0 0;
}

#search input {
    position: relative;
    display: inline-block;
    font-size: 15px;
    box-sizing: border-box;
    /*transition: .5s;*/
}
#search input[type="text"] {
    background: #ffffff;
    width: 310px;
    height: 35px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px;
}

#search input[type="submit"]:hover {
    background: #2b87ff;
}

*{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: oblique ;
    margin: 0;
    padding: 0;

}
