/*font style*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
.contact-box-mess{
    color: #23096b;
}
.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
.container {
    background-color: #fff;
    border: 1px solid #23096b;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 60px;
    text-align: center;
    width: 600px;
    max-width: 100%;
    margin-top: 100px;
}

.container p {
    color: rgb(136, 136, 136);
    letter-spacing: 0.4px;
}

.container form {
    width: 100%;
}

.container .input-area {
    position: relative;
    margin: 10px 0;
    height: 44px;
    width: 100%;
}

.container .h-80 {
    height: 80px;
}

.container input, .container textarea {
    position: absolute;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    padding: 12px;
    height: 100%;
    width: 100%;
    border: 1px solid #999;
    border-radius: 4px;
    outline: none;
    resize: none;
}

.container .sendbtn {
    display: block;
    width: 100%;
    background: #23096b;
    color: #fff;
    font-size: 18px;
    padding: 15px;
    margin: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container .sendbtn:hover {
    background-color: #23096b;
}
