/*font style*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');


#termsConditions{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#termsConditions img {
    margin-top: 150px;
    width: 500px;
    border-radius: 10px;
}

.content {
    margin: 20px 0;
}

.content h2 {
    font-size: 50px;
    color: #ffca70;
    margin-top: 100px;
}

.description {
    color: #e3124e;
    margin: 20px 0;
    font-size: 25px;
    line-height: 30px;
    font-weight: 100;
}

@media screen and (max-width: 790px) {
    #aboutUs img {
        width: 80%;
    }

    #termsConditions {
        grid-template-columns: 1fr;
        place-items: center;
    }
}
